# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Environment variables
*.env
.env

# Logs
*.log
logs/
*.out

# Uploads and processed files
uploads/
processed/
static/product_images
static/product_images_2
static/product_images_3

archive/
data/

# OS files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

static/product_images.zip
static.zip